[Unit]
Description=TUNNEL
After=network.target

[Service]
Type=simple
User={{ansible_user}}
Group={{ansible_user}}
WorkingDirectory={{ansible_env.HOME}}
ExecStart={{ansible_env.HOME}}/ssh_tunnel.sh
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target