 {
     "metadata": {
        {% if airside_rcx_generator.data_source == "json" %}
            "equip_json": "{{ host_configs_dir }}/generator_json_sources/{{ airside_rcx_generator.json.equipment_file }}",
            "points_json": "{{ host_configs_dir }}/generator_json_sources/{{ airside_rcx_generator.json.points_file }}"
        {% endif %}

        {% if airside_rcx_generator.data_source == "db" %}
            "connection_params": {
                    "dbname": "{{ airside_rcx_generator.database.name }}",
                    "host": "{{ airside_rcx_generator.database.host }}",
                    "port": {{ airside_rcx_generator.database.port }},
                    "user": "{{ airside_rcx_generator.database.user }}",
                    "password": "{{ airside_rcx_generator.database.password }}"
                },
            "equip_table": "{{ airside_rcx_generator.database.equipment_table }}",
            "point_table": "{{ airside_rcx_generator.database.point_table }}"
        {% endif %}
     },

     "point_meta_map": {
            "fan_status": "{{ airside_rcx_generator.point_meta_map.fan_status }}",
            "zone_reheat": "{{ airside_rcx_generator.point_meta_map.zone_reheat }}",
            "zone_damper": "{{ airside_rcx_generator.point_meta_map.zone_damper }}",
            "duct_stcpr": "{{ airside_rcx_generator.point_meta_map.duct_stcpr }}",
            "duct_stcpr_stpt": "{{ airside_rcx_generator.point_meta_map.duct_stcpr_stpt }}",
            "sa_temp": "{{ airside_rcx_generator.point_meta_map.sa_temp }}",
            "fan_speedcmd": "{{ airside_rcx_generator.point_meta_map.fan_speedcmd }}",
            "sat_stpt": "{{ airside_rcx_generator.point_meta_map.sat_stpt }}"
        },
     # The field that contains the above point metadata
     "point_meta_field": "{{ airside_rcx_generator.point_meta_field }}",

     # where generated configs should be saved. Code will try to do makedir -p
     "output_dir":"{{ airside_rcx_generator.output_dir }}",

     # Template for airside_rcx configuration
     "config_template": {% include 'airside_rcx_config.j2' %}

     # If provided query will be filtered using this condition
     {% if airside_rcx_generator.site_id is defined %}
        ,"site_id": "{{ airside_rcx_generator.site_id }}"
     {% endif %}

     # Optional campus. If not provided will be parsed from site_id else will be empty. defaults to empty
     {% if airside_rcx_generator.campus is defined %}
        ,"campus": "{{ airside_rcx_generator.campus }}"
     {% endif %}

     # Optional building or site name. If not provided parsed from site_id if site_id is provided. defaults to empty
     {% if airside_rcx_generator.building is defined %}
        ,"building": "{{ airside_rcx_generator.building }}"
     {% endif %}

 }