 {
     "metadata": {
        {% if site_info.data_source == "json" %}
            "equip_json": "{{ host_configs_dir }}/generator_json_sources/{{ driver_generator.json.equipment_file }}",
            "points_json": "{{ host_configs_dir }}/generator_json_sources/{{ driver_generator.json.points_file }}"
        {% endif %}

        {% if site_info.data_source == "db" %}
            "connection_params": {
                    "dbname": "{{ tag_data.database.name }}",
                    "host": "{{ tag_data.database.host }}",
                    "port": {{ tag_data.database.port }},
                    "user": "{{ tag_data.database.user }}",
                    "password": "{{ tag_data.database.password }}"
                },
            "equip_table": "{{ tag_data.database.equipment_table }}",
            "point_table": "{{ tag_data.database.point_table }}"
        {% endif %}
     }

     # where generated configs should be saved. Code will try to do makedir -p
     ,"output_dir":"{{ driver_generator.output_dir }}"

     # VIP identity to use when installing configurations.
     {% if driver_generator.driver_vip is defined %}
     ,"driver_vip":"{{ driver_generator.driver_vip }}"
     {% endif %}

     # Template for driver configuration
     ,"config_template": {% include 'volttron_driver_device_config.j2' %}

     # If provided query will be filtered using this condition
     {% if site_info.site_id is defined %}
        ,"site_id": "{{ site_info.site_id }}"
     {% endif %}

     # Optional campus. If not provided will be parsed from site_id else will be empty. defaults to empty
     {% if driver_generator.campus is defined %}
        ,"campus": "{{ driver_generator.campus }}"
     {% endif %}

     # Optional building or site name. If not provided parsed from site_id if site_id is provided. defaults to empty
     {% if driver_generator.building is defined %}
        ,"building": "{{ driver_generator.building }}"
     {% endif %}

     # optional driver topic_prefix.
     {% if driver_generator.topic_prefix is defined %}
        ,"topic_prefix": "{{ driver_generator.topic_prefix }}"
     {% endif %}

     {% if ilc_generator.building_power_meter is defined %}
        ,"building_power_meter": "{{ ilc_generator.building_power_meter }}"
     {% endif %}

     {% if ilc_generator.power_meter_id is defined %}
        ,"power_meter_id": "{{ ilc_generator.power_meter_id }}"
     {% endif %}
 }