{
  "driver_type": "{{ driver.device.type }}",
  "driver_config": {
    "point_service": "{{ normal.point_service.address }}:{{ normal.point_service.port }}",
    "bacnet_service": "{{ normal.bacnet_service.address }}:{{ normal.bacnet_service.port }}",
    "priority": "{{ normal.bacnet_priority }}",
    "topic_name_format": "{{ normal.topic_name_format }}",
    "query": "{{ normal.query }}"
  }

  {% if driver.device.interval is defined %}
  ,"interval": "{{ driver.device.interval }}"
  {% endif %}

  {% if driver.device.heart_beat_point is defined %}
  ,"heart_beat_point": "{{ driver.device.heart_beat_point }}"
  {% endif %}

  {% if driver.device.group is defined %}
  ,"group": "{{ driver.device.group }}"
  {% endif %}
}
